body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("assets/image 29.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 15px;
}

.column1 {
  background-color: #88ece58a;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}
